@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  --line-color: #e5e7eb;
}

html.dark {
  --line-color: rgba(255, 255, 255, 0.2);
}

.borderBlack {
  @apply border border-slate-500/5;
}

/* globals.css or other CSS file */
.custom-date-style {
  @apply mx-3 h-40 text-xl; /* Tailwind utility classes */
}


.text-outline {
  text-shadow: 
      -1px -1px 0 #e6e6e6,  
       1px -1px 0 #e6e6e6,
      -2px  2px 0 #e6e6e6,
       2px  2px 0 #e6e6e6;
}

.text-outline-p {
  font-size: medium;
  line-height:  2.5rem;
  letter-spacing: 0.1rem;
  text-shadow: 
      -0.1px -0.1px 0 #222222,  
       0.1px -0.1px 0 #222222,
      -0.1px  0.1px 0 #222222,
       0.1px  0.1px 0 #222222;
}